/**{
	margin: 0;
	padding: 0;
} 
this is for removing padding and margin for all the block level elements
*/

body{
	background-color: #f4f4f4;
	color: #555555;
	font-family: arial;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.8em;
	margin: 0;

	/*font: normal 16px arial; this is for single line shortcut*/
}

a{
	text-decoration: none;
	color: #000;
}

a:hover{
	color: red;
}

a:active{
	color: green;
}

/*a:visited{
	color: blue;
}
*/

.button{
	background-color: black;
	color: white;
	padding: 10px;
}

.button:hover{
	color: red;
}

.clr{
	clear: both;
}
.container{
	width: 80%;
	margin: auto;

}

.box-1{
	background-color: black;
	color: #fff;

	/*border-top: 3px red solid;
	border-right: 3px red solid;
	border-bottom: 3px red solid;
	border-left: 3px red solid;*/

	border: 5px red solid;	/*same as above*/
	border-width: 3px;
	border-bottom-width: 5px;
	/* border-top-style: dotted; */

	padding-top: 10px;
	padding-left: 20px;

	/*padding: 10px; this is for all sides padding*/

	/*margin will be above border so the entire block will move specified distance in the specified direction*/
	margin-top: 20px;
	margin: 10px 0;

	/*margin: 10px; this is for all sides*/

}

.box-1 h1{
	text-align: center;
	font-family: tahoma;
	font-style: italic;
	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	word-spacing: 1em;
}

.box-2 {
	border: 3px dotted; #ccc;
	padding: 20px;
	margin: 10px;

}

.categories{
	border: 3px solid #ccc;
	padding: 10px;
	border-radius: 2em;

}

.categories h2{
	text-align: center;
	text-decoration: underline;
}

.categories ul{
	padding-left: 20px;
	list-style: square;
	
}

.categories li{
	/*border: 1px red solid;*/
	padding-bottom: 6px;
	border-bottom: 1px #333 dotted;
	/*list-style-image: url("../images/check.png");*/
}

.my-form{
	padding: 20px;
}

.my-form .form-group{
	padding-bottom: 10px;
}

.my-form label{
	display: block;
}

.my-form input[type="text"], .my-form textarea{
	padding: 6px;
	width: 100%;
}

.block{
	float: left;
	width: 33.3%;
	padding: 5px;
	border: 1px solid #ccc;
	box-sizing: border-box;

}

#main-block{
	float: left;
	width: 70%;
	padding: 10px;
	box-sizing: border-box;

}

#side-bar{
	float: right;
	width: 30%;
	background-color: black;
	color: white;
	padding: 10px;
	box-sizing: border-box;
}

.p-box{
	width: 800px;
	height: 500px;
	border: 1px solid #000;
	margin-top: 30px;
	position: relative;
	background-image: url("../bgimage.jpeg");
	background-position: 100px 200px;
	/*background-repeat: no-repeat;*/
	background-position: center center;
}

.p-box h1{
	position: absolute;
	top: 40px;
	left: 200px;
}

.p-box h2{
	position: absolute;
	bottom: 100px;
	left: 200px;
}

.fix-me{
	position: fixed;
	top: 400px;
}

.mylist li:first-child{
	background: red;

}

.mylist li:last-child{
	background: red;

}

.mylist li:nth-child(3){
	background: grey;

}

.mylist li:nth-child(even){
	background: yellow;

}















